doc/

build/
examples/
experimental/
Test/
.venv/
pyke/
pyKEenv/
hgrc_keywords
HTMLTemplate.py
LICENSE 
make_doc_tarball
make_release
MANIFEST.in
PKG-INFO
README-3.x.txt
README.txt
RELEASE_NOTES-1.txt
RELEASE_NOTES-pre1.0.txt
run_2to3
run_pre_test
testpyke
